@import url('constants.css');

.card-deck .card {
    min-width: 250px !important;
    min-height: 250px;
    max-height: 250px;
}

    .card-deck .card:hover {
        -webkit-box-shadow: -1px 9px 40px -12px var(--header-and-footer-background);
        -moz-box-shadow: -1px 9px 40px -12px var(--header-and-footer-background);
        box-shadow: -1px 9px 40px 0px var(--header-and-footer-background);
    }


#offerId {
    border: 5px solid var(--header-and-footer-background);
    border-radius: 50px 50px;
    margin-top: 20px;
}


.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding-left: 15px;
    border: 0px;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    padding-left: 0px;
    padding-right: 0px;
}

.icon-style {
    margin-right: 15px;
    font-size: 18px;
    margin-top: 20px;
}

p {
    margin: 3px;
}

.well-add-card {
    margin-bottom: 10px;
}

.btn-add-card {
    margin-top: 20px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 6px solid #D9D9D9;
    border-radius: 15px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-left: 0px;
    padding-right: 0px;
}

.btn {
    border-radius: 0px;
}

.btn-update {
    margin-left: 15px;
}

.lableoffer {
    top: 0;
}

#topRow {
    border-bottom-color: grey !important;
    border-bottom-width: 3px;
}

#buttonId {
    background: none !important;
    border: none;
    outline: none;
}


.table {
    border: 3px solid var(--header-and-footer-background);
    border-radius: 40px;
}


.deleteOfferCLass {
    color: grey;
}

.editOfferCLass {
    color: grey;
}

.deleteOfferCLass:hover {
    color: red !important;
}


.shape {
    border-style: solid;
    border-width: 0 80px 50px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}

.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}

.project {
    min-height: 300px;
    height: auto;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}

.project-radius {
    border-radius: 7px;
}

.project-default {
    border-color: #999999;
}

    .project-default .shape {
        border-color: transparent #999999 transparent transparent;
        border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
    }

.project-danger {
    border-color: #d9534f;
}

    .project-danger .shape {
        border-color: transparent #d9534f transparent transparent;
        border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
    }

.project-success {
    border-color: #5cb85c;
}

    .project-success .shape {
        border-color: transparent #5cb85c transparent transparent;
        border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
    }

.project-primary {
    border-color: #428bca;
}

    .project-primary .shape {
        border-color: transparent #428bca transparent transparent;
        border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
    }

.project-info {
    border-color: #5bc0de;
}

    .project-info .shape {
        border-color: transparent #5bc0de transparent transparent;
        border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
    }

.project-warning {
    border-color: #f0ad4e;
}

    .project-warning .shape {
        border-color: transparent #f0ad4e transparent transparent;
        border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
    }

.project-content {
    padding: 0 20px 10px;
}

#my-div {
    height:85vh; 
}

#my-div {
    background: url("http://www.tmb.ie/wp/wp-content/uploads/2017/04/Preventing-problems-when-travelling-with-friends2.jpg") no-repeat fixed center;
    background-size: cover;
}

.wrapper{
    text-align:center;
}

#bigbutton {
    position: absolute;
    top: 55%;
}
.jumbotron {
    background: url("http://web.uni-miskolc.hu/files/2896/Travelling-OurLifeInTheD.jpg?width=645&height=292&crop=1") no-repeat fixed center;
    background-size: cover;
}

.display-3{
    text-shadow: 2px 2px var(--header-and-footer-background);
}

#likeDislikeButton {
    background: none !important;
    border: none;
    outline: none;
}

.likeOfferClass:hover {
    color: lawngreen !important;
}

.dislikeOfferClass:hover {
    color: red !important;
}

footer, nav {
    background-color: var(--header-and-footer-background)
}

.search-bar {
    padding: 1rem 0rem;
}

.search-bar .row {
    align-content: center;
    justify-content: center;
}

.town-table-line{
    margin-left: 0;
    margin-right: 0;
}


