@model AnnouncementPaginationViewModel

<div class="container">
    <div class="container mt-3 ml-3">
        @await Html.PartialAsync("_SearchAnnouncement", Model)
    </div>
    <hr class="bg-primary ml-4" />
    <div class="card-deck">
        <div class="col-3 border-primary">
            <a asp-controller="Announcements" asp-action="Create">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body"></div>
                    <div class="card-body text-primary">
                        <p class="card-text"><strong>CREATE NEW ANNOUNCEMENT</strong></p>
                    </div>
                    <div class="card-body border-primary"></div>
                </div>
            </a>
        </div>
        @foreach (var announcement in Model.AllAnnouncements.Announcements)
        {
            @await Html.PartialAsync("_AnnouncementPartial", announcement)
        }
    </div>
</div>
@await Html.PartialAsync("_PagingAnnouncement", Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}