@model TownPaginationViewModel

@{
    ViewData["Title"] = "Towns";
}

@Html.ValidationSummary(false)
<div class="container">
    @await Html.PartialAsync("_SearchTown", Model)
    <div class="col-5 town-table-line">
        <hr class="bg-primary"/>
    </div>
    @if (Model.Towns.Count() == 0)
    {
        <h1>No Towns</h1>
    }
    else
    {
        <table class="table table-hover col-5 mt-3" id="townTable">
            <thead>
            <tr class="bg-primary">
                <th colspan="3">Towns</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var town in Model.Towns)
            {
                @await Html.PartialAsync("_TownPartial", town)
            }
            </tbody>
        </table>
        @await Html.PartialAsync("_PagingTown", Model)
    }
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}