

@model ShareTravelSystem.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}
<!-- Material form login -->
<div class="container">
    <div class="card mt-5">

        <h5 class="card-header info-color white-text text-center py-4 bg-primary">
            <strong class="text-white">Sign in</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                <!-- Email -->
                <div class="md-form">
                    <input asp-for="Email" class="form-control mt-4" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input asp-for="Password" class="form-control mt-4" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="form-check mt-4">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="mt-4">
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

                <!-- Register -->
                <p>
                    Not a member?
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a>
                </p>

            </form>
            <!-- Form -->

        </div>

    </div>
</div>
<!-- Material form login -->
