@{
    ViewData["Title"] = "Login Page";
}
<h2 class="text-center mt-5">Login</h2>
<hr class="bg-primary" />
<form>
    <div class="form-row">
       
        <div class="col-md-12 mb-3">
            <label for="validationDefault01">Username</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="validationDefault01">Password</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
        </div>
    </div>
    <div style="text-align:center" class="mt-3">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </div>
</form>
