@model ShareTravelSystem.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<!-- Material form register -->
<div asp-validation-summary="All" class="text-danger"></div>
<div class="container">
    <div class="card mt-5">

        <h5 class="card-header info-color white-text text-center py-4 bg-primary">
            <strong class="text-white">Register form</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <form class="text-center" style="color: #757575;" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                <!-- E-mail -->
                <div class="md-form">
                    <input asp-for="Email" class="form-control mt-4" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- Password -->
                        <div class="md-form">
                            <input asp-for="Password" class="form-control mt-4" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Password -->
                        <div class="md-form">
                            <input asp-for="ConfirmPassword" class="form-control mt-4" placeholder="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input asp-for="FirstName" class="form-control mt-4" placeholder="FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input asp-for="LastName" class="form-control mt-4" placeholder="LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="md-form">
                    <input asp-for="PhoneNumber" class="form-control mt-4" placeholder="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="md-form">
                    <input asp-for="Address" class="form-control mt-4" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0 mt-5" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
