@model ShareTravelSystem.ViewModels.Town.CrateTownViewModel;
@{
    ViewData["Title"] = "Create Town";
}

<h2 class="ml-5 mt-3">@ViewData["Title"]</h2>
<form asp-controller="Town" asp-action="Create" method="post" class="ml-5">
    <div class="form-group row">
        <div class="col-3">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="ml-3">
            <button type="submit" class="btn btn-outline-primary">Create</button>
            <a class="btn btn-outline-primary ml-3" href="@Url.Action("All","Town")">Back</a>
        </div>
    </div>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
