@model CreateOfferViewModel

@using ShareTravelSystem.Data.Models
@using System.Linq;

@{
    ViewData["Title"] = "Create Offer";

    List<Town> towns = ViewData["Towns"] as List<Town>;
}

<div class="container">
    <div class="card mt-5">

        <h5 class="card-header info-color white-text text-center py-4 bg-primary">
            <strong class="text-white">Create offer</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <form class="text-center" style="color: #757575;" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                <fieldset class="form-group">
                    <legend>Type Offer</legend>
                    <div class="text-center">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input asp-for="Type" type="radio" class="form-check-input text-md-left" id="Search" value="Search" checked="">
                                Search place
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input asp-for="Type" type="radio" class="form-check-input text-md-left"id="Suggest" value="Suggest">
                                Suggest place
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-row">
                    <div class="col">
                        <label asp-for="DepartureTownId"></label>
                        <select asp-for="DepartureTownId" asp-items="@(new SelectList(towns.OrderBy(x => x.Name),"Id", "Name"))" class="form-control">
                            <option></option>
                        </select>
                        <span asp-validation-for="DepartureTownId" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="DestinationTownId"></label>
                        <select asp-for="DestinationTownId" asp-items="@(new SelectList(towns.OrderBy(x => x.Name),"Id", "Name"))" class="form-control">
                            <option></option>
                        </select>
                        <span asp-validation-for="DestinationTownId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                            <label asp-for="Seat" class="mt-3"></label>
                            <input asp-for="Seat" class="form-control mt-0" />
                            <span asp-validation-for="Seat" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Price" class="mt-3"></label>
                        <input asp-for="Price" class="form-control mt-0" type="number" min="0.00" max="10000.00" step="0.01"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-6">
                        <label asp-for="DepartureDate" class="mt-2"></label>
                        <input asp-for="DepartureDate"  class="form-control" type="text" onfocus="(this.type='datetime-local')" id="date" />
                        <span asp-validation-for="DepartureDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="md-form">
                    <label asp-for="Description" class="mt-3"></label>
                    <textarea asp-for="Description" class="form-control mt-0" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0 mt-5" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



