@model OfferPaginationViewModel

@{
    var likedOffers = ViewData["LikedDislikedOffersIds"] as List<int>;
}

<div class="container">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-offset-3 col-lg-offset-0">
                @await Html.PartialAsync("_SearchOffer", Model)
            </div>
        </div>
    </div>
    <hr class="bg-primary" />
    <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch mb-3" style="line-height: 318px">
            <a asp-controller="Offers" asp-action="Create">
                <div class="card">
                    <div class="card border-primary" style="width: 18rem;">
                        <text align="center"><strong>CREATE NEW OFFER</strong></text>
                    </div>
                </div>
            </a>
        </div>

        @await Html.PartialAsync("_OfferPartial", Model)
    </div>
</div>

@await Html.PartialAsync("_PagingOffer", Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}