@model MessagePaginationViewModel

@{
    int itemsPerPage = Model.Size;
    int itemsCount = Model.Count;

    int currentPage = Model.Page;

    int pageUp = (double)itemsCount / (itemsPerPage * Model.Page) > 1 ? Model.Page + 1 : Model.Page;
    int pageDown = Model.Page > 1 ? Model.Page - 1 : Model.Page;

    int totalPages = (int)Math.Ceiling(((double)Model.Count / Model.Size));


    <p class="text-center">Page @Model.Page of @(totalPages < 1 ? 1 : totalPages )</p>
}

<div class="text-center col-12">
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <a href="/Home/Chat?page=@pageDown.ToString()&search=@Model.Search" class="btn btn-outline-primary">&#8678;</a>
        <button type="button" class="btn btn-outline-primary">@Model.Page</button>
        <a href="/Home/Chat?page=@pageUp.ToString()&search=@Model.Search" class="btn btn-outline-primary">&#8680;</a>
    </div>
</div>