@model DisplayAllAnnouncementsViewModel
@using Microsoft.AspNetCore.Identity
@using ShareTravelSystem.Web.Areas.Identity.Data
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ShareTravelSystemUser> SignInManager
@inject UserManager<ShareTravelSystemUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron border-0">
        <div class="container">
            @if (User.IsInRole("User"))
            {
                <h1 class="display-3">Tr@vel w1th Fr1ends!</h1>
            }
            else
            {
                <h1 class="display-3">Admin Panel!</h1>
            }
        </div>
    </div>
    <div class="container">
        <h3 class="mt-0 ml-3 text-primary">Latest news</h3>
        <hr />
        <div class="card-deck">
            @foreach (var announcement in Model.Announcements)
            {
                <div class="col-3">
                    <a href="@Url.Action("Details", "Announcements", new {id = announcement.Id})">
                        <div class="card border-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header border-primary text-primary"><strong>@announcement.ShortTitle</strong></div>
                            <div class="card-body text-primary">
                                <p class="card-text">@announcement.ShortContent</p>
                            </div>
                            <footer class="text-primary ml-4 indexAnnouncementClass">Created on @announcement.CreateDate</footer>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
else
{
    <div id="my-div" class="wrapper">
    </div>
}